.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    min-width: 0;
  }
  